.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1{
    position: absolute;
    margin: 0px;
    top: 10px;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-top: 10px;
    z-index: 1;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #2a46ff, #0099ff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateGradient 5s linear infinite;;
}

.card p{
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #0f1217 1px 1px 2px;
}

.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    box-shadow: 0 0 15px lightgray;
}

.card:nth-child(1){
    grid-column: span 2;
}

.card:nth-child(2){
    grid-row: span 2;
    height: 83vh;
}

.card:nth-child(5){
    grid-column: span 2;
}

/* display animation */

.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoDisplayAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
