
hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info-1 {
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}

.hero-info-1 h1 {
    font-size: 65px;
    max-width: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.hero-info-1 p {
    color: white;
    max-width: 500px;
    font-weight: 500;
    text-shadow: 10px 10px 15px black;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-info-1 button {
    background-color: #79bdfc;
    border: 2px solid #79bdfc;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.hero-info-1 button:hover {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #79bdfc;
}

.hero-info-2{
    color: white;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.hero-info-2 h1 {
    text-align: right;
    font-size: 65px;
    max-width: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.about-section {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.image-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section p{
    font-size: 12px;
}

.about-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0px;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #2a46ff, #0099ff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateGradient 5s linear infinite;
}

@keyframes animateGradient {
    to{
        background-position: 200%;
    }
}

.about-section h4{
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5{
    margin-top: 5px;
    color: gray;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}

.info-section{
    padding-left: 11rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 100px;
}

.info-section h3{
    margin-bottom: 0px;
}

.info-section p{
    margin-top: 5px;
    color: white;
    max-width: 400px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.call-to-action{
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 200px;
}

.call-to-action .img1{
    position: absolute;
    top: 10%;
    right: 20px;
    height: 400px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.call-to-action .img2{
    position: absolute;
    left: 50px;
    top: 10px;
    height: 200px;
    clip-path: polygon(0% 0%, 59% 0, 100% 50%, 82% 100%, 0% 100%);
}

.call-to-action .img3{
    position: absolute;
    left: 5%;
    bottom: 1%;
    height: 250px;
    clip-path: polygon(0% 0%, 59% 0, 100% 50%, 82% 100%, 0% 100%);
}

.call-to-action p {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.call-to-action h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    max-width: 550px;
    text-align: center;
    margin: 25px 0px;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #2a46ff, #0099ff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateGradient 2.5s linear infinite;
}

.call-to-action button{
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.call-to-action button:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}


/* Animations */

/*Blur effect*/
.autoBlur {
    animation: autoBlurAnim linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnim {
    0%{
        filter: blur(40px);
    }
    40%, 60%{
        filter: blur(0);
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }

}

/* full screen */

.autoTakeFull{
    animation: autoTakeFullAnimation both;
    animation-timeline: view(70% 65%);
}

@keyframes autoTakeFullAnimation {
    to {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 100px;
    }
}

/* display animation */

.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoDisplayAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}