header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.head-left{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%; 
}

.head-left img {
    max-width: 180px;
    height: auto; 
    margin-right: 20px;
}

.head-right button {
    border: none;
    margin-left: 20px;
    padding: 10px 35px;
    border-radius: 20px;
    font-weight: 700;
    background-color: #ff6edb;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-right button:hover {
    opacity: 0.7;
}

.head-right{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.head-right a {
    text-decoration: none;
    padding-left: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 700;
    color: white;
}

.head-left, .head-right {
    display: flex;
    align-items: center;
}

.head-right .home-btn{
    font-weight: 600;
    text-shadow: 0px 0px 5px #2bff00;
}

.head-right .info-btn{
    font-weight: 600;
    text-shadow: 0px 0px 5px #ff0000;
}

.head-right .about-btn{
    font-weight: 600;
    text-shadow: 0px 0px 5px #0059ff;
}